* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 400px 400px 1fr;
  grid-template-rows: 50px 1fr;
}

.wrapper > div:nth-child(-n+3) {
  background: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
}

#blocklyDiv {
  width: 100%;
}

#codeDiv{
  width: 100%;
  border: none;
  background: #eee;
}

#divGameStage {
  display: flex;
  justify-content: center;
  align-items: center;
}
